<!DOCTYPE html>
<html lang="en"><!-- BEGIN HEAD --><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8"> 
        <title>Welcome to Center กรมทหารสื่อสาร กองทัพบก</title> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta content="width=device-width, initial-scale=1" name="viewport"> 
        <meta content="Preview page of Metronic Admin Theme #1 for " name="description"> 
        <meta content="" name="author"> 

        <!-- BEGIN GLOBAL MANDATORY STYLES --> 
        <link href="Login_files/css.css" rel="stylesheet" type="text/css"> 
        
	<link rel="stylesheet" type="text/css" href="Login_files/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="Login_files/simple-line-icons.css">
	<link rel="stylesheet" type="text/css" href="Login_files/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Login_files/bootstrap-switch.css">
 
        <!-- END GLOBAL MANDATORY STYLES --> 

        <!-- BEGIN PAGE LEVEL PLUGINS --> 
        
	<link rel="stylesheet" type="text/css" href="Login_files/select2.css">
	<link rel="stylesheet" type="text/css" href="Login_files/select2-bootstrap.css">
 
        <!-- END PAGE LEVEL PLUGINS --> 

        <!-- BEGIN THEME GLOBAL STYLES --> 
        
	<link rel="stylesheet" type="text/css" href="Login_files/components.css">
	<link rel="stylesheet" type="text/css" href="Login_files/plugins.css">
 
        <!-- END THEME GLOBAL STYLES --> 

        <!-- BEGIN PAGE LEVEL STYLES --> 
        
	<link rel="stylesheet" type="text/css" href="Login_files/login-4.css">
 
        <!-- END PAGE LEVEL STYLES --> 

        <link rel="shortcut icon" href="https://cld-center.rta.mi.th/favicon.ico"> <script type="text/javascript" src="Login_files/jquery_005.js"></script></head> 
        
    <!-- END HEAD --> 

    <body class=" login"> 
        <!-- BEGIN LOGO -->
                    <div class="logo"> 
                <img src="Login_files/180801185334814965.png" alt="" width="120px">                <h3 style="color: #c69f29; text-shadow: 0.1px 1px #fff;">กรมทหารสื่อสาร กองทัพบก</h3>
            </div> 
        <!-- END LOGO --> 
        <!-- BEGIN LOGIN --> 
                    <div class="content text-center">

                        <button type="submit" class="btn green" style="width:250px">ระบบงาน กพ.ทบ.</button>
                        <br /><br />
                        <button type="submit" class="btn green" style="width:250px">ระบบงาน กบ.ทบ.</button>
                        <br /><br />
                        <button type="submit" class="btn green" style="width:250px">ระบบงาน กพ.ทบ.</button>

                    </div> 
            <div class="copyright">2561 © พัฒนาระบบ โดย        กรมการทหารสื่อสาร  | กองทัพบก     </div> 
        
         
        <!-- BEGIN CORE PLUGINS --> 
        
	<script type="text/javascript" src="Login_files/bootstrap.js"></script>
	<script type="text/javascript" src="Login_files/js.js"></script>
	<script type="text/javascript" src="Login_files/jquery_002.js"></script>
	<script type="text/javascript" src="Login_files/jquery_004.js"></script>
	<script type="text/javascript" src="Login_files/bootstrap-switch.js"></script>
	<script type="text/javascript" src="Login_files/toastr.js"></script>
 
        <!-- END CORE PLUGINS --> 

        <!-- BEGIN PAGE LEVEL PLUGINS --> 
        
	<script type="text/javascript" src="Login_files/jquery_003.js"></script>
	<script type="text/javascript" src="Login_files/additional-methods.js"></script>
	<script type="text/javascript" src="Login_files/select2.js"></script>
	<script type="text/javascript" src="Login_files/jquery.js"></script>
 
        <!-- END PAGE LEVEL PLUGINS --> 

        <!-- BEGIN THEME GLOBAL SCRIPTS --> 
        
	<script type="text/javascript" src="Login_files/app.js"></script>
 
        <!-- END THEME GLOBAL SCRIPTS --> 

        <!-- BEGIN PAGE LEVEL SCRIPTS --> 
        
	<script type="text/javascript" src="Login_files/login-4.js"></script>
 
        <!-- END PAGE LEVEL SCRIPTS --> 
        <script>
            $(document).ready(function() 
            { 
                $('#clickmewow').click(function() 
                { 
                    $('#radio1003').attr('checked', 'checked'); 
                }); 
                
                $.backstretch(
                    [
                        "Login_files/1.jpg",
                        "Login_files/2.jpg",
                        "Login_files/3.jpg",
                        "Login_files/4.jpg"
                    ],
                    {
                        fade:1e3,
                        duration:8e3
                    }
                )
            }) 
        </script> 
     
<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 939px; width: 1904px; z-index: -999999; position: fixed;"><img style="position: absolute; margin: 0px; padding: 0px; border: medium none; width: 1904px; height: 1009.45px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -35.2241px;" src="Login_files/4.jpg"></div></body></html>